/* ==== 
 --------- (4.2) banner styles start ---------
 ==== */

//  hero section
.hero{
    height: 100%;
    width: 100%;
    padding-top: 145px;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 0;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    .container{
        max-width: 1550px;
        margin: 0 auto;
    }
    .banner-content{
        padding: 110px 0;
        h1{
            font-size: 72px;
            font-weight: 600;
            color: $neutral-n-700;
            span{
                color: $secondary-color;
            }
        }
        p{
            font-size: 20px;
            line-height: 150%;
            color: $neutral-n-500;
        }
    }
    .hero__thumb{
        position: relative;
        margin-left: 60px;
        img{
            max-width: unset;
        }
    }
    &.hero-style2{
        .banner-content{
            padding: 60px 0 0;
        }
        .reliable-right-content{
            padding-left: 60px;
            .reliable-count{
                display: grid;
                gap: 38px;
                margin-bottom: 38px;
                .line{
                    width: 141px;
                    height: 1px;
                    opacity: 0.2;
                    background: #222E48;
                }
            }
        }
        @media screen and (max-width: 1399px) {
            .reliable-right-content{
                padding-left: 20px;
            }
        }
        @media screen and (max-width: 1199px) {
            .banner-content{
                padding: 0px 0 60px;
            }
            .reliable-right-content{
                padding-left: 10px;
                .reliable-count{
                    display: grid;
                    gap: 30px;
                    margin-bottom: 30px;
                    .line{
                        width: 141px;
                        height: 1px;
                        opacity: 0.2;
                        background: #222E48;
                    }
                }
            }
        }
        @media screen and (max-width: 991px) {
            .banner-content{
                padding: 0px 0 40px;
                .adjust-circle-wap{
                    .common-circle{
                        margin: 0 auto;
                    }
                }
            }
            .reliable-right-content{
                padding-left: 10px;
                padding-bottom: 60px;
                .reliable-count{
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    gap: 30px;
                    margin-bottom: 30px;
                    .reliable-count-item{
                        text-align: center;
                    }
                    .line{
                        display: none;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 1599px) {
        .banner-content{
            padding: 80px 0;
            h1{
                font-size: 60px;
                font-weight: 600;
            }
        }
    }
    @media screen and (max-width: 1399px) {
        .banner-content{
            padding: 70px 0 60px;
            h1{
                font-size: 60px;
                font-weight: 600;
            }
        }
        .hero__thumb{
            margin-left: 0;
        }
    }
    @media screen and (max-width: 1199px) {
        .banner-content{
            padding: 60px 0 60px;
            h1{
                font-size: 46px;
                font-weight: 600;
            }
        }
        .hero__thumb{
            margin-left: 0;
        }
    }
    @media screen and (max-width: 991px) {
        .banner-content{
            padding: 20px 0 60px;
            h1{
                font-size: 46px;
                font-weight: 600;
            }
        }
        .hero__thumb{
            margin-left: 0;
        }
    }
    @media screen and (max-width: 480px) {
        .banner-content{
            padding: 20px 0 60px;
            h1{
                font-size: 34px;
                font-weight: 600;
            }
        }
        .hero__thumb{
            margin-left: 0;
        }
    }
}
// index-2
.hero--secondary{  
    padding-top: 170px;
    .section__content-sub-title{
        color: $secondary-color;
    }
    .section__content-title{
        color: white;
    }
    .section__content-text{
        color: $neutral-n-10;
    }
    
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $neutral-n-900;
        z-index: -1;
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: none;
        background: url(../images/hero--secondary_bg.png);
        @include background($neutral-n-900, no-repeat,  bottom center, cover);
        opacity: 1;
        z-index: -1;
    }

    .btn-group{
        .btn_theme{
            &:last-child{
                border-color: $secondary-color;
                color: $secondary-color;
                z-index: 0;
                
                &:hover{
                    border-color: $primary-color;
                    color: white;
                    i{
                        color: white;
                    }
                }
            }
        }
    }
}
//..Hero3
.hero-version3{
    position: relative;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 90%;
        background: none;
        background: url(../../assets/images/hero/hero-bg3.png) no-repeat center center;
        background-size: cover;
        opacity: 1;
        z-index: -1;
    }
    .section__content{
        padding-bottom: 85px;
        padding-top: 60px;
        max-width: 700px;
        margin: 0 auto;
        p{
            font-weight: 400;
        }
    }
    .loan-tabbing-wrap{
        gap: 24px;
        justify-content: center;
        // margin-bottom: -80px;
        position: relative;
        z-index: 1;
        .loan-tab-items{
            background: $white;
            padding: 24px 16px;
            border-radius: 8px;
            text-align: center;
            transition: all 0.4s;
            overflow: hidden;
            position: relative;
            width: calc(90% / 4);
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            .box-inner{
                background: $secondary-color2;
                width: 100%;
                height: 0%;
                position: absolute;
                top: 0;
                left: 0;
                transition: all 0.5s;
                opacity: 0;
                h4{
                    color: $neutral-n-0;
                    a{
                        color: $neutral-n-0;
                    }
                }
                .mortgage-icon{
                    background: $primary-color;
                    width: 44px;
                    height: 44px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 auto;
                    transition: all 0.5s;
                    i{
                        font-size: 16px;
                        color: $white;
                    }
                }
            }
            .loan-thumb{
                margin-bottom: 12px;
                transition: all 0.4s;
            }
            &:hover{
                .box-inner{
                    left: 0;
                    opacity: 1;
                    width: 100%;
                    height: 100%;
                }
                background: $secondary-color2;
            }
        }
    }
    @media screen and (max-width:1199px ) {
        padding-top: 140px;
        .section__content{
            padding-top: 20px;
            padding-bottom: 65px;
        }
        .loan-tabbing-wrap{
            gap: 14px;
            .loan-tab-items{
                padding: 24px 12px;
                width: calc(90% / 4);
                h4{
                    a{
                        font-size: 18px;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 991px){
        .loan-tabbing-wrap{
            margin-bottom: -0px;
            padding-bottom: 70px;
            gap: 14px;
            .loan-tab-items{
                padding: 24px 12px;
                width: calc(90% / 3);
            }
        }
    }
    @media screen and (max-width: 767px){
        .section__content{
            padding-top: 0px;
        }
        .loan-tabbing-wrap{
            gap: 14px;
            .loan-tab-items{
                padding: 24px 12px;
                width: calc(90% / 2);
            }
        }
    }
    @media screen and (max-width: 450px){
        .loan-tabbing-wrap{
            .loan-tab-items{
                padding: 24px 12px;
                width: calc(100%);
            }
        }
    }
}
@keyframes zom {
    50%{
        transform: scale(1.02);
    }
}
// banner section
.banner{  
    width: 100%;
    padding-top: 155px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-x: initial;
    z-index: 0;
    
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $neutral-n-900;
        z-index: -1;
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include background($neutral-n-900, no-repeat,  bottom center, cover);
        z-index: -1;
    }
    .banner__content{
        .banner__title{
            color: $white;
            text-align: start;
            text-transform: capitalize;
        }
    }
}

//Hero Version4
.hero-version4{
    padding-top: 160px;
    .hero-content4{
        margin-bottom: 60px;
        h1{
            font-size: 122px;
            font-weight: 800;
        }
        h2{
            span{
                color: $secondary-color2;
                font-style: italic;
                font-weight: 400;
            }
        }
        p{
            font-size: 24px;
        }
    }
    .hero4-homeloan-wrap{
        background: #fff;
        box-shadow: 0px 6px 30px 0px rgba(0, 0, 0, 0.04);
        padding: 20px;
        border-radius: 12px;
        .title{
            color: #222E48;
            margin-bottom: 22px;
        }
        .home-loan-items{
            border-radius: 8px;
            border: 1px solid rgba(7, 76, 62, 0.10);
            background: rgba(19, 47, 89, 0.05);
            padding: 24px 24px;
            text-align: center;
            img{
                width: 64px;
                height: 64px;
                object-fit: contain;
                margin: 0 auto 16px;
            }
            h4{
                color: #222E48;
                font-size: 18px;
            }
        }
        .slider-navigation{
            display: flex;
            justify-content: space-between;
            width: 105%;
            position: absolute;
            top: 40%;
            left: -20px;
            transform: translateY(-50%);
            z-index: 1;
            button{
                background: #fff;
                border-color: #fff;
                &:hover{
                    background: $primary-color;
                    border-color: $primary-color;
                }
            }
        }
        @media screen and (max-width: 1399px) {
            .home-loan-items{
                padding: 20px 12px;
                img{
                    width: 40px;
                    height: 40px;
                    margin: 0 auto 12px;
                }
                h4{
                    font-size: 16px;
                }
            }
            .slick-slide{
                margin: 0 6px;
            }
        }
        @media screen and (max-width: 575px) {
            .slider-navigation{
                width: initial !important;
                position: initial;
                justify-content: center;
                top: 44%;
                left: 12px;
                transform: translateY(-50%);
            }
        }
    }
    .slick-slide {
        margin: 0px 8px;
    }
    @media screen and (max-width: 1599px) {
        .hero-content4{
            margin-bottom: 60px;
            h1{
                font-size: 96px;
                font-weight: 800;
            }
            p{
                font-size: 20px;
            }
        }
        .hero4-homeloan-wrap{
            margin-bottom: 70px;
        }
    }
    @media screen and (max-width: 1399px) {
        padding-top: 160px;
        .hero-content4{
            margin-bottom: 50px;
            h1{
                font-size: 78px;
                font-weight: 800;
            }
            h2{
                font-size: 29px;
            }
            p{
                font-size: 20px;
            }
        }
    }
    @media screen and (max-width: 1199px) {
        padding-top: 140px;
        .hero4-homeloan-wrap{
            margin: 0 24px 30px 24px;
        }
        .slider-navigation{
            button{
                background: #ebebeb !important;
                &:hover{
                    background: $primary-color !important;
                    border-color: $primary-color !important;
                }
            }
        }
    }
    @media screen and (max-width: 767px) {
        .hero-content4{
            margin-bottom: 40px;
            h1{
                font-size: 58px;
                font-weight: 800;
            }
            h2{
                font-size: 22px;
            }
            p{
                font-size: 18px;
            }
        }
    }
    @media screen and (max-width: 575px) {
        padding-top: 120px;
        .hero4-homeloan-wrap{
            margin: 0 2px 30px 2px;
        }
        .hero-content4{
            margin-bottom: 40px;
            h1{
                font-size: 42px;
                font-weight: 800;
            }
            h2{
                font-size: 22px;
            }
            p{
                font-size: 18px;
            }
        }
    }
}
.hero-thumb4{
    padding-left: 20px;
    position: relative;
}
@keyframes zomin {
    50%{
        transform: scale(1.05);
    }
}

//hero-version5
.hero-version5{
    background: #002922;
    margin: 24px;
    border-radius: 20px;
    
    .slick-dots{
        position: absolute !important;
        right: 80px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        display: inline-block;
        display: grid;
        gap: 10px;
        li{
            button{
                width: 32px;
                height: 32px;
                background: transparent;
                border: 2px solid $white;
                position: relative;
                &::before{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 4px;
                    height: 4px;
                    content: "";
                    border-radius: 50%;
                    background: $white;
                    transform: translate(-50%, -50%);
                    transition: all 0.4s;
                }
            }

            &.slick-active{
                button{
                    border-radius: 50%;
                    border-color: $secondary-color2;
                    &::before{
                        background: $secondary-color2;
                    }
                }
            }
        }
    }
    .hero-version5-items{
        padding: 240px 0 220px;
        position: relative;
        z-index: 1;
        .section-badge5{
            width: 40px;
        }
        &::before{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: "";
            border-radius: 12px;
            background: linear-gradient(270deg, rgba(19, 47, 89, 0.20) 0%, rgba(19, 47, 89, 0.40) 30.65%, rgba(19, 47, 89, 0.60) 42.1%, rgba(19, 47, 89, 0.80) 55.88%, rgba(19, 47, 89, 0.90) 71.22%, #132F59 100%);
            z-index: -1;
        }
        .hero-content5{
            transform: translateY(200px);
            transition: all 2s;
            opacity: 0;
            h1{
                font-size: 72px;
            }
            h4{
                color: $secondary-color2;
            }
            .member-active-inner{
                display: flex;
                align-items: center;
                .member{
                    width: 48px;
                    height: 48px;
                    border: 2px solid #002922;
                    &:not(:first-child){
                        margin-left: -20px;
                    }
                    &.plus{
                        width: 46px;
                        height: 46px;
                        min-width: 46px;
                        background: $secondary-color2;
                        i{
                            font-weight: 600;
                            font-size: 19px;
                        }
                    }
                }
            }
            .line{
                border-left: 2px dashed $secondary-color;
                width: 2px;
                height: 85px;
                opacity: 0.7;
            }
            p{
                font-size: 18px;
                max-width: 424px;
            }
            .secound-btn{
                border-color: $secondary-color2;
                color: $secondary-color2;
                i{
                    color: $secondary-color2;
                }
                &:hover{
                    border-color: $primary-color;
                }
            }
            .btn-group-area{
                margin-top: 40px;
            }
        }
        &.slick-active{
            .hero-content5{
                transform: translateY(-0px);
                opacity: 1;
            }
        }
    }
    @media screen and (max-width: 1850px) {
        margin: 0;
        border-radius: 0;
        .hero-version5-items{
            &::before{
                border-radius: 0px;
            }
        }
    }
    @media screen and (max-width: 1399px) {
        .hero-version5-items{
            padding: 220px 0 240px;
        }
    }
    @media screen and (max-width: 1199px) {
        .hero-version5-items{
            padding: 180px 0 195px;
            .hero-content5{
                h1{
                    font-size: 52px !important;
                }
            }
        }
    }
    @media screen and (max-width: 991px) {
        .hero-version5-items{
            padding: 180px 0 195px;
            .hero-content5{
                h1{
                    font-size: 42px;
                }
                .btn-group-area{
                    margin-top: 30px;
                }
            }
        }
        .slick-dots{
            right: 10px;
            display: grid;
            gap: 10px;
            li{
                button{
                    width: 32px;
                    height: 32px;
                }
            }
        }
    }
    @media screen and (max-width: 767px) {
        .hero-version5-items{
            padding: 160px 0 195px;
            .hero-content5{
                h1{
                    font-size: 38px !important;
                }
            }
        }
    }
    @media screen and (max-width: 500px) {
        .hero-version5-items{
            padding: 150px 0 155px;
            .hero-content5{
                h1{
                    font-size: 33px !important;
                }
                .btn-group-area{
                    margin-top: 20px;
                }
            }
        }
        .slick-dots{
            top: initial;
            bottom: 30px;
            right: initial;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            justify-content: center;
            gap: 10px;
            li{
                button{
                    width: 32px;
                    height: 32px;
                }
            }
        }
    }
}

.anyloan-section{
    background: rgb(0, 41, 34, 0.05);
}
.anyloan-wrapper{
    margin-top: -103px;
    position: relative;
    z-index: 1;
    .home-loan-items{
        border-radius: 8px;
        margin-bottom: 30px;
        box-shadow: 0px 6px 30px 0px rgba(0, 0, 0, 0.06);
        background: $neutral-n-0;
        padding: 24px 24px;
        text-align: center;
        transition: all 0.4s;
        h4{
            transition: all 0.5s;
        }
        &:hover{
            background: $secondary-color2;
            h4{
                color: $white;
            }
        }
        img{
            width: 64px;
            height: 64px;
            object-fit: contain;
            margin: 0 auto 16px;
        }
        h4{
            color: #222E48;
            font-size: 18px;
        }
        @media screen and (max-width: 991px) {
            padding: 20px 14px;
        }
        @media screen and (max-width: 500px) {
            padding: 20px 8px;
        }
    }
    .slick-slide{
        @media screen and (max-width: 991px) {
            margin: 0 8px;
        }
    }
    .slider-navigation{
        margin-top: 0;
        display: flex;
        justify-content: space-between;
        width: 103%;
        position: absolute;
        top: 45%;
        left: -20px;
        transform: translateY(-50%);
        z-index: 1;
        .pagination-button{
            background: $neutral-n-0 !important;
            border: unset;
            box-shadow: 0px 6px 30px 0px rgba(0, 0, 0, 0.08);
            width: 46px;
            height: 46px;
            transition: all 0.4s;
            &:hover{
                background: $primary-color !important;
                i{
                    color: $neutral-n-0;
                }
            }
        }
        @media screen and (max-width: 575px) {
            left: 0;
        }
    }
    @media screen and (max-width: 500px) {
        margin-top: 0px;
        padding-top: 60px;
        .slider-navigation{
            margin-top: 14px;
            display: flex;
            justify-content: center;
            width: 103%;
            position: initial;
            transform: translateY(-50%);
        }
    }
}

//Breadcrumb Banner
.breadcrumb-bannner{
    position: relative;
    z-index: 1;
    &::before{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        background: linear-gradient(90deg, #132F59 0%, rgba(19, 47, 89, 0.90) 18.81%, rgba(19, 47, 89, 0.80) 34.63%, rgba(19, 47, 89, 0.60) 54.23%, rgba(19, 47, 89, 0.40) 67.36%, rgba(19, 47, 89, 0.10) 100%);
        z-index: 1;
    }
    .banner__content{
        position: relative;
        z-index: 1;
    }
    .breadcrumb{
        position: relative;
        z-index: 1;
        .breadcrumb-item{
            color: $white;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            text-transform: capitalize;
            font-size: 18px;
            a{
                font-size: 18px;
                color: $white;
                font-family: $font-primary;
            }
            +.breadcrumb-item::before{
                content: "\F285";
                font-family: 'bootstrap-icons';
                color: $white;
                font-size: 14px;
            }
            &.active{
                color: $secondary-color;
            }
        }
    }
    &.style1{
        padding: 215px 0 120px;
    }
    &.graphic-breadcrumb-bannner{
        padding: 144px 0 55px;
        &::before{
            background: #080E1A;
        }
        .breadcrumb{
            gap: 8px 18px;
        }
        @media screen and (max-width: 1199px) {
            padding: 120px 0 55px;
        }
    }
    @media screen and (max-width: 1199px) {
        &.style1{
            padding: 150px 0 70px;
        }
    }
}
//Breadcrumb Banner


@media (max-width: 1850px) {
    .hero .hero__animation img:nth-child(4) {
        right: 1%;
        top: 15%;
    }
}
@media (max-width: 1599px) {
    .hero {
        .btn-group{
            padding-bottom: 70px;
        }
        .hero__thumb{
            img {
                max-width: 100%;
            }
            &::before{
                left: 18%;
                background-size: 70%;
            }
            &::after{
                right: -5%;
                background-size: 80%;
                height: 118px;
            }
        } 
        .hero__animation img:nth-child(2) {
            position: absolute;
            left: 3%;
            bottom: 5%;
        }
    }
}
@media (max-width: 1399px) {
    .hero .hero__animation img{
        &:nth-child(3) {
            left: 44%;
        }
        &:nth-child(5) {
            width: 8%;
        }
    }
}
@media (max-width: 1199px) {
    .hero {
        .hero__thumb{
            &::before{
                background-size: 58%;
            }
            &::after{
                right: -8%;
                background-size: 63%;
                bottom: -5%;
            }
        }
        
        .section__content-text{
            font-size: 18px;
        }
        
        .hero__animation img{
            &:nth-child(2) {
                width: 4%;
            }
            &:nth-child(3) {
                display: none;
            }
            &:nth-child(4) {
                width: 4%;
            }
        }
    } 

    .banner__thumb img {
        max-width: 55%;
        height: auto;
    }
}
@media (max-width: 991px) {
    .hero {
        .btn-group{
            padding-bottom: 0;
        }
        .hero__thumb ,
        .hero--secondary__thumb{
            text-align: center;
            img {
                max-width: 60%;
            }
            &::before{
                background-size: 58%;
                top: 35px;
                left: 30%;
            }
            &::after{
                right: 13%;
                background-size: 57%;
                bottom: -7%;
            }
        }

        .hero__animation img{
            &:nth-child(1){
               display: none;
            }
            &:nth-child(4){
               width: 6%;
            }
            &:nth-child(2){
               width: 6%;
            }
            &:nth-child(5){
                display: none;
             }
        }
        .section__content-title .word {
            letter-spacing: 4px;
            margin-right: 0;
        }
    }

    .banner__thumb img {
        max-width: 60%;
        height: auto;
    }
}
@media (max-width: 767px) {
    .hero {
        .hero__thumb{
            img {
                max-width: 75%;
            }
            &::before{
                background-size: 51%;
                top: 35px;
                left: 27%;
            }
            &::after{
                right: 2%;
                background-size: 55%;
                bottom: -8%;
            }
        }
    
    }
}
@media (max-width: 575px) {
    .hero {
        .hero__thumb{
            img {
                max-width: 100%;
            }
            &::before{
                left: 19%;
            }
            &::after{
                right: -14%;
            }
        }
        .section__content-sub-title{
            font-size: 18px;
        }
        .section__content-text{
            font-size: 16px;
        }
    }

    .banner__thumb img {
        display: none;
    }
}
@media (max-width: 479px) {
    .hero {
        .hero__thumb{
            img {
                max-width: 100%;
            }
            &::before{
                left: 21%;
                background-size: 40%;
            }
            &::after{
                right: -67px;
                bottom: -57px;
                background-size: 42%;
            }
        }
       
        .hero__animation img{
            &:nth-child(2),
            &:nth-child(4){
                display: none;
            }
        }
    }

   
    .hero--quaternary{
        padding: 150px 0 0;
    }
    .banner {
        li,
        .banner__content .breadcrumb .breadcrumb-item a{
            font-size: 14px;
        }
    }
}
@media (max-width: 372px) {
    .hero .btn_theme{
        width: 100%;
    }
}
/* ==== 
 --------- (4.2) banner styles end ---------
 ==== */
