/* ==== 
 --------- (4.2) banner styles start ---------
 ==== */

//  hero section
.hero{
    height: 100%;
    width: 100%;
    padding-top: 145px;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 0;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    .container{
        max-width: 1550px;
        margin: 0 auto;
    }
    .banner-content{
        padding: 110px 0;
        h1{
            font-size: 72px;
            font-weight: 600;
            color: $neutral-n-700;
            span{
                color: $secondary-color;
            }
        }
        p{
            font-size: 20px;
            line-height: 150%;
            color: $neutral-n-500;
        }
    }
    .hero__thumb{
        position: relative;
        margin-left: 60px;
        img{
            max-width: unset;
        }
    }
    &.hero-style2{
        .banner-content{
            padding: 60px 0 0;
        }
        .reliable-right-content{
            padding-left: 60px;
            .reliable-count{
                display: grid;
                gap: 38px;
                margin-bottom: 38px;
                .line{
                    width: 141px;
                    height: 1px;
                    opacity: 0.2;
                    background: #222E48;
                }
            }
        }
        @media screen and (max-width: 1399px) {
            .reliable-right-content{
                padding-left: 20px;
            }
        }
        @media screen and (max-width: 1199px) {
            .banner-content{
                padding: 0px 0 60px;
            }
            .reliable-right-content{
                padding-left: 10px;
                .reliable-count{
                    display: grid;
                    gap: 30px;
                    margin-bottom: 30px;
                    .line{
                        width: 141px;
                        height: 1px;
                        opacity: 0.2;
                        background: #222E48;
                    }
                }
            }
        }
        @media screen and (max-width: 991px) {
            .banner-content{
                padding: 0px 0 40px;
                .adjust-circle-wap{
                    .common-circle{
                        margin: 0 auto;
                    }
                }
            }
            .reliable-right-content{
                padding-left: 10px;
                padding-bottom: 60px;
                .reliable-count{
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    gap: 30px;
                    margin-bottom: 30px;
                    .reliable-count-item{
                        text-align: center;
                    }
                    .line{
                        display: none;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 1599px) {
        .banner-content{
            padding: 80px 0;
            h1{
                font-size: 60px;
                font-weight: 600;
            }
        }
    }
    @media screen and (max-width: 1399px) {
        .banner-content{
            padding: 70px 0 60px;
            h1{
                font-size: 60px;
                font-weight: 600;
            }
        }
        .hero__thumb{
            margin-left: 0;
        }
    }
    @media screen and (max-width: 1199px) {
        .banner-content{
            padding: 60px 0 60px;
            h1{
                font-size: 46px;
                font-weight: 600;
            }
        }
        .hero__thumb{
            margin-left: 0;
        }
    }
    @media screen and (max-width: 991px) {
        .banner-content{
            padding: 20px 0 60px;
            h1{
                font-size: 46px;
                font-weight: 600;
            }
        }
        .hero__thumb{
            margin-left: 0;
        }
    }
    @media screen and (max-width: 480px) {
        .banner-content{
            padding: 20px 0 60px;
            h1{
                font-size: 34px;
                font-weight: 600;
            }
        }
        .hero__thumb{
            margin-left: 0;
        }
    }
}
// index-2
.hero--secondary{  
    padding-top: 170px;
    .section__content-sub-title{
        color: $secondary-color;
    }
    .section__content-title{
        color: white;
    }
    .section__content-text{
        color: $neutral-n-10;
    }
    
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $neutral-n-900;
        z-index: -1;
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: none;
        background: url(../images/hero--secondary_bg.png);
        @include background($neutral-n-900, no-repeat,  bottom center, cover);
        opacity: 1;
        z-index: -1;
    }

    .btn-group{
        .btn_theme{
            &:last-child{
                border-color: $secondary-color;
                color: $secondary-color;
                z-index: 0;
                
                &:hover{
                    border-color: $primary-color;
                    color: white;
                    i{
                        color: white;
                    }
                }
            }
        }
    }
}
//..Hero3
.hero-version3{
    position: relative;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 90%;
        background: none;
        background: url(../../assets/images/hero/hero-bg3.png) no-repeat center center;
        background-size: cover;
        opacity: 1;
        z-index: -1;
    }
    .section__content{
        padding-bottom: 85px;
        padding-top: 60px;
        p{
            font-weight: 400;
        }
    }
    .loan-tabbing-wrap{
        gap: 24px;
        justify-content: center;
        // margin-bottom: -80px;
        position: relative;
        z-index: 1;
        .loan-tab-items{
            background: $white;
            padding: 24px 16px;
            border-radius: 8px;
            text-align: center;
            transition: all 0.4s;
            overflow: hidden;
            position: relative;
            width: calc(90% / 4);
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            .box-inner{
                background: $secondary-color2;
                width: 100%;
                height: 0%;
                position: absolute;
                top: 0;
                left: 0;
                transition: all 0.5s;
                opacity: 0;
                .mortgage-icon{
                    background: $primary-color;
                    width: 44px;
                    height: 44px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 auto;
                    transition: all 0.5s;
                    i{
                        font-size: 16px;
                        color: $white;
                    }
                }
            }
            .loan-thumb{
                margin-bottom: 12px;
                transition: all 0.4s;
            }
            &:hover{
                .box-inner{
                    left: 0;
                    opacity: 1;
                    width: 100%;
                    height: 100%;
                }
                background: $secondary-color2;
            }
        }
    }
    @media screen and (max-width:1199px ) {
        padding-top: 140px;
        .section__content{
            padding-top: 20px;
            padding-bottom: 65px;
        }
        .loan-tabbing-wrap{
            gap: 14px;
            .loan-tab-items{
                padding: 24px 12px;
                width: calc(90% / 4);
                h4{
                    a{
                        font-size: 18px;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 991px){
        .loan-tabbing-wrap{
            margin-bottom: -0px;
            padding-bottom: 70px;
            gap: 14px;
            .loan-tab-items{
                padding: 24px 12px;
                width: calc(90% / 3);
            }
        }
    }
    @media screen and (max-width: 767px){
        .section__content{
            padding-top: 0px;
        }
        .loan-tabbing-wrap{
            gap: 14px;
            .loan-tab-items{
                padding: 24px 12px;
                width: calc(90% / 2);
            }
        }
    }
    @media screen and (max-width: 450px){
        .loan-tabbing-wrap{
            .loan-tab-items{
                padding: 24px 12px;
                width: calc(100%);
            }
        }
    }
}
@keyframes zom {
    50%{
        transform: scale(1.02);
    }
}
// banner section
.banner{  
    width: 100%;
    padding-top: 155px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-x: initial;
    z-index: 0;
    
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $neutral-n-900;
        z-index: -1;
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // background: url(../images/inner_banner.png);
        @include background($neutral-n-900, no-repeat,  bottom center, cover);
        z-index: -1;
    }
    .banner__content{
        .banner__title{
            color: $white;
            text-align: start;
            text-transform: capitalize;
        }
        .breadcrumb{
            margin-top: 24px;
            --bs-breadcrumb-item-padding-x: 4px;
            .breadcrumb-item{
                color: $white;
                display: flex;
                align-items: center;
                text-transform: capitalize;
                a{
                    color: $white;
                    font-family: $font-primary;
                }
                +.breadcrumb-item::before{
                    content: "\F285";
                    font-family: 'bootstrap-icons';
                    color: $white;
                    font-size: 14px;
                }
                &.active{
                    color: $secondary-color;
                }
            }
        }
    }
}


@media (max-width: 1850px) {
    .hero .hero__animation img:nth-child(4) {
        right: 1%;
        top: 15%;
    }
}
@media (max-width: 1599px) {
    .hero {
        .btn-group{
            padding-bottom: 70px;
        }
        .hero__thumb{
            img {
                max-width: 100%;
            }
            &::before{
                left: 18%;
                background-size: 70%;
            }
            &::after{
                right: -5%;
                background-size: 80%;
                height: 118px;
            }
        } 
        .hero__animation img:nth-child(2) {
            position: absolute;
            left: 3%;
            bottom: 5%;
        }
    }
}
@media (max-width: 1399px) {
    .hero .hero__animation img{
        &:nth-child(3) {
            left: 44%;
        }
        &:nth-child(5) {
            width: 8%;
        }
    }
}
@media (max-width: 1199px) {
    .hero {
        .hero__thumb{
            &::before{
                background-size: 58%;
            }
            &::after{
                right: -8%;
                background-size: 63%;
                bottom: -5%;
            }
        }
        
        .section__content-text{
            font-size: 18px;
        }
        
        .hero__animation img{
            &:nth-child(2) {
                width: 4%;
            }
            &:nth-child(3) {
                display: none;
            }
            &:nth-child(4) {
                width: 4%;
            }
        }
    } 

    .banner__thumb img {
        max-width: 55%;
        height: auto;
    }
}
@media (max-width: 991px) {
    .hero {
        .btn-group{
            padding-bottom: 0;
        }
        .hero__thumb ,
        .hero--secondary__thumb{
            text-align: center;
            img {
                max-width: 60%;
            }
            &::before{
                background-size: 58%;
                top: 35px;
                left: 30%;
            }
            &::after{
                right: 13%;
                background-size: 57%;
                bottom: -7%;
            }
        }

        .hero__animation img{
            &:nth-child(1){
               display: none;
            }
            &:nth-child(4){
               width: 6%;
            }
            &:nth-child(2){
               width: 6%;
            }
            &:nth-child(5){
                display: none;
             }
        }
        .section__content-title .word {
            letter-spacing: 4px;
            margin-right: 0;
        }
    }

    .banner__thumb img {
        max-width: 60%;
        height: auto;
    }
}
@media (max-width: 767px) {
    .hero {
        .hero__thumb{
            img {
                max-width: 75%;
            }
            &::before{
                background-size: 51%;
                top: 35px;
                left: 27%;
            }
            &::after{
                right: 2%;
                background-size: 55%;
                bottom: -8%;
            }
        }
    
    }
}
@media (max-width: 575px) {
    .hero {
        .hero__thumb{
            img {
                max-width: 100%;
            }
            &::before{
                left: 19%;
            }
            &::after{
                right: -14%;
            }
        }
        .section__content-sub-title{
            font-size: 18px;
        }
        .section__content-text{
            font-size: 16px;
        }
    }

    .banner__thumb img {
        display: none;
    }
}
@media (max-width: 479px) {
    .hero {
        .hero__thumb{
            img {
                max-width: 100%;
            }
            &::before{
                left: 21%;
                background-size: 40%;
            }
            &::after{
                right: -67px;
                bottom: -57px;
                background-size: 42%;
            }
        }
       
        .hero__animation img{
            &:nth-child(2),
            &:nth-child(4){
                display: none;
            }
        }
    }

   
    .hero--quaternary{
        padding: 150px 0 0;
    }
    .banner {
        li,
        .banner__content .breadcrumb .breadcrumb-item a{
            font-size: 14px;
        }
    }
}
@media (max-width: 372px) {
    .hero .btn_theme{
        width: 100%;
    }
}
/* ==== 
 --------- (4.2) banner styles end ---------
 ==== */
